.roleContainer {
  :global .ant-card-body {
    padding-top: 12px;
  }
}

.iconHover {
  cursor: help;
  color: #999;
  transition: color 0.3s;

  &:hover {
    color: #1890ff; // 悬停时变为蓝色
  }
}

.listContainer {
  height: 600px;
  overflow: auto;
}

.listItem {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &:hover {
    background-color: #fafafa;
  }

  &:last-child {
    border-bottom: none;
  }
}

.listItem.selected {
  position: relative;
  background-color: #ffffff;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    background-color: #1890ff;
    content: '';
  }
}

.listItemTitle {
  font-weight: 700;
  font-size: 14px;
  color: inherit;
  transition: color 0.3s;

  &:hover {
    color: #1890ff; /* hover 时变为蓝色 */
  }
}
